In [1]:
from tensorflow.keras import models, layers, preprocessing as kprocessing
import sys, traceback
import numpy as np
import pandas as pd
import os
import itertools

In [2]:
df = pd.read_csv("data/deneme.csv",encoding='latin1') 
df = df.drop('data', 1)
df

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,...,b3,b4,b5,b6,b7,b8,b9,b10,b11,b12
0,0,0,0,0,0.00,0.92,1.00,0.08,0,0.00,...,0,0,0.31,1.00,0.69,NaN,0,0.00,0,0
1,0,0,0,0,0.31,1.00,0.69,0.00,0,0.00,...,0,0,0.00,0.06,1.00,0.94,0,0.00,0,0
2,0,0,0,0,0.00,0.06,1.00,0.94,0,0.00,...,0,0,0.00,0.90,1.00,0.10,0,0.00,0,0
3,0,0,0,0,0.00,0.90,1.00,0.10,0,0.00,...,0,0,0.07,1.00,0.93,0.00,0,0.00,0,0
4,0,0,0,0,0.07,1.00,0.93,0.00,0,0.00,...,0,0,0.00,0.00,0.00,0.17,1,0.83,0,0
5,0,0,0,0,0.00,0.00,0.00,0.17,1,0.83,...,0,0,0.00,0.53,1.00,0.47,0,0.00,0,0
6,0,0,0,0,0.00,0.53,1.00,0.47,0,0.00,...,0,0,0.00,0.05,1.00,0.95,0,0.00,0,0

In [3]:

train_size = 5
train_data, test_data = df[0:train_size], df[train_size:]
train_data

,a1,a2,a3,a4,a5,a6,a7,a8,a9,a10,...,b3,b4,b5,b6,b7,b8,b9,b10,b11,b12
0,0,0,0,0,0.00,0.92,1.00,0.08,0,0.0,...,0,0,0.31,1.00,0.69,NaN,0,0.00,0,0
1,0,0,0,0,0.31,1.00,0.69,0.00,0,0.0,...,0,0,0.00,0.06,1.00,0.94,0,0.00,0,0
2,0,0,0,0,0.00,0.06,1.00,0.94,0,0.0,...,0,0,0.00,0.90,1.00,0.10,0,0.00,0,0
3,0,0,0,0,0.00,0.90,1.00,0.10,0,0.0,...,0,0,0.07,1.00,0.93,0.00,0,0.00,0,0
4,0,0,0,0,0.07,1.00,0.93,0.00,0,0.0,...,0,0,0.00,0.00,0.00,0.17,1,0.83,0,0

In [4]:
X_train = train_data.iloc[:, 0:12]
Y_train = train_data.iloc[:, 12:24]
X_test = test_data.iloc[:, 0:12]
Y_test = test_data.iloc[:, 12:24]
X_train.shape
Y_train.shape

(5, 12)

In [5]:
x_train = X_train.to_numpy()
x_train = np.reshape(x_train, (x_train.shape[0], 1, x_train.shape[1]))
y_train = Y_train.to_numpy()
y_train = np.reshape(y_train, (y_train.shape[0], 1, y_train.shape[1]))

x_test = X_test.to_numpy()
x_test = np.reshape(x_test, (x_test.shape[0], 1, x_test.shape[1]))

y_test = Y_test.to_numpy()
y_test = np.reshape(y_test, (y_test.shape[0], 1, y_test.shape[1]))
print(x_train.shape)
print(y_train.shape)

(5, 1, 12)
(5, 1, 12)

In [6]:

u = 12
lstm_model = models.Sequential()

lstm_model.add(layers.LSTM(units=u, return_sequences = True, activation='tanh', input_shape=(1, u)))
lstm_model.add(layers.Dropout(0.2))
#print("2")
lstm_model.add(layers.LSTM(units=u, return_sequences = True))
lstm_model.add(layers.Dropout(0.2))

lstm_model.add(layers.Dense(u))
lstm_model.compile(optimizer='adam', loss='mse')
#print("6")
lstm_model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 1, 12)             1200
_________________________________________________________________
dropout (Dropout)            (None, 1, 12)             0
_________________________________________________________________
lstm_1 (LSTM)                (None, 1, 12)             1200
_________________________________________________________________
dropout_1 (Dropout)          (None, 1, 12)             0
_________________________________________________________________
dense (Dense)                (None, 1, 12)             156
=================================================================
Total params: 2,556
Trainable params: 2,556
Non-trainable params: 0
_________________________________________________________________

In [7]:
lstm_model.fit(x_train, y_train, epochs = 10, batch_size = 32)

Epoch 1/10
1/1 [==============================] - 0s 4ms/step - loss: nan
Epoch 2/10
1/1 [==============================] - 0s 997us/step - loss: nan
Epoch 3/10
1/1 [==============================] - 0s 1ms/step - loss: nan
Epoch 4/10
1/1 [==============================] - 0s 0s/step - loss: nan
Epoch 5/10
1/1 [==============================] - 0s 996us/step - loss: nan
Epoch 6/10
1/1 [==============================] - 0s 2ms/step - loss: nan
Epoch 7/10
1/1 [==============================] - 0s 3ms/step - loss: nan
Epoch 8/10
1/1 [==============================] - 0s 1000us/step - loss: nan
Epoch 9/10
1/1 [==============================] - 0s 998us/step - loss: nan
Epoch 10/10
1/1 [==============================] - 0s 2ms/step - loss: nan

In [8]:
print("Evaluate on test data")
results = lstm_model.evaluate(x_test, y_test, batch_size=128)
print("test loss, test acc:", results)

Evaluate on test data
1/1 [==============================] - 0s 997us/step - loss: nan
test loss, test acc: nan